<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./js/jquery.js"></script>
    <link rel="stylesheet" href="./js/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script type="text/javascript" src="./js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="./js/bootstrap-treeview.js"></script>
    <link rel="stylesheet" href="./js/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css"/>
    <script src="./js/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
    <script src="./js/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <link rel="stylesheet" href="./css/demo.css"/>
    <link rel="stylesheet" href="./css/bootstrap-treeview.css"/>
    <link rel="stylesheet" href="./font/iconfont.css"/>

    <title>宝安车载管理系统</title>
</head>
<body>
<div class="main">
    <aside>
        <div class="tip">
            <div class="dayNum">
                <p>5分钟</p>
                <p class="number">477</p>
            </div>
            <div class="hour">
                <div class="minute">
                    <p>2小时</p>
                    <span class="number">477</span>
                </div>
                <div class="minute2">
                    <p>24小时</p>
                    <span class="number">477</span>
                </div>
            </div>
        </div>
        <div class="searchAside">
            <div class="searchGroup">
                <div class="input-group">
                    <input type="text" class="form-control" value="" autocomplete="off">
                    <span class="glyphicon glyphicon-search searchIcon">
                    </span>
                    <span class="clearInput">+</span>
                </div>
                <div class="searchList">
                    <ul></ul>
                </div>
            </div>
        </div>
        <div class="treeList">
        </div>

        <div class="tableMain">
            <div class="listHeader">监控列表</div>
            <div class="tableList">
                <table class="table">
                    <thead>
                    <tr>
                        <th>车牌号</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

    </aside>
    <section>
        <div id="mapDiv">
            <div class="loginBar">
                <div class="funIconList">
                    <span class="glyphicon glyphicon-erase" title="清除"></span>
                    <span class="glyphicon glyphicon-zoom-in" title="放大"></span>
                    <span class="glyphicon glyphicon-zoom-out" title="缩小"></span>
                    <span class="iconfont icon-celiang" title="测距离"></span>
                    <span class="iconfont icon-mianji" title="测面积"></span>
                    <span class="glyphicon glyphicon-globe" title="全图"></span>
                    <span class="iconfont icon-cheliangpengzhuang" title="区域越界车辆"></span>
                    <span class="iconfont icon-xiaotuziCduan-" title="车辆管理"></span>
                    <span class="glyphicon glyphicon-user" title="用户管理"></span>
                </div>
                <div class="userName">admin</div>
                <div class="layout">退出</div>
            </div>


            <div class="history">
                <h1>历史轨迹<span class="glyphicon glyphicon-remove closeHistory"></span></h1>
                <div class="historySearch">
                    <div class="input-append date" class="datetimepicker">
                        <div class="left">
                            <input type="text" name="startTime" class="datetimepicker" autocomplete="off" placeholder="请输入开始时间" readonly/>
                            <input type="text" name="endTime" class="datetimepicker" autocomplete="off" placeholder="请输入结束时间" readonly/>
                        </div>
                        <div class="right">
                            <button class="btn btn-primary add-on"><i class="glyphicon glyphicon-search"></i><p>查询</p></button>
                        </div>
                    </div>
                </div>
                <div class="historyControl">
                    <span class="glyphicon glyphicon-play" title="开始播放"><p>播放</p></span>
                    <span class="glyphicon glyphicon glyphicon-stop" title="停止播放"><p>停止</p></span>
                    <span class="glyphicon glyphicon-forward" title="2倍快进"><p>x2</p></span>
                    <span class="glyphicon glyphicon-forward" title="4倍快进"><p>x4</p></span>
                    <span class="glyphicon glyphicon-forward" title="8倍快进"><p>x8</p></span>
                    <span class="glyphicon glyphicon-forward" title="16倍快进"><p>x16</p></span>
                </div>
            </div>
        </div>
    </section>
</div>
</body>


<script src="http://map.maplite.cn/api"></script>
<script src="./js/demo.js"></script>

</html>